$white: #fdfdfd;
$red: #fb1414;

//$green: #17b814;
$green: #5cb85c;
$green2: darken($green, 20%);

$blue: #4388CC;
$selected: #d7f3ff;
$blueTitle: #154b80;
$dark: #333;
$gray: gray;
$grayDark: #666;
$grayLight: #AAA;
$grayLighter: #d7d7d7;
$linkColor: #4388CC;
$linkHoverColor: #818d98;
$titleBackground: #e8e8e8;

// order status colors
$new: #027be3;
$process: #ff9800;
$transport: #ff8076;
$transporting: #f44336;
$delivered: #4caf50;
$nulled: #585858;
$ready: $transporting;

$money: #663333;
