@import "colors";

// Product form
.product-variations {
  margin-bottom: 10px;
  .title {
    margin: 4px 0px;
    color: $grayLight;
    font-size: 1.2em;
    font-weight: bold;
  }
  .name {
    width: 60%;
  }
  .price {
    width: 25%;
  }
  .col{
    padding: 4px 0px;
    margin-right: 8px;
    &:last {
      margin-right: 0px;
    }
  }
  .header {
    font-size: 1.1em;
    margin-bottom: 4px;
  }
}
//-----------------------------
// Product index
.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.product {
  width: 300px;
  height: 100%;
  //flex: 1 0 50%;
  box-sizing: border-box;
  position: relative;
  padding: 0.4em;
  background: white;
  margin: 10px;

  .left {
    width: 120px;
  }

  .right {
    width: 90%;
    margin-left: 5px;
  }
  .title {
    font-size: 1.4em;
    margin: 0px;
  }
  .publish {
    padding: 4px;
    margin: 0px 4px;
  }

  img.img {
    width: 100%;
  }
  .actions {
    padding: 10px;
    font-size: 1.2em;
  }
  .price {
    border-radius: 4px;
    color: $white;
    background: $green;
    padding: 0.1em 0.2em;
    text-align: center;
    border: 1px solid $gray;
    margin: 0.3em 0.1em;
    font-size: 1.2em;
    strong {
      font-size: 120%;
    }
  }
  .description{
    border-bottom: 1px solid $grayLighter;
    margin-bottom: 2em;
    padding: 0.2em 0em;
  }
}

.product-preview {
  background: white;
  max-width: 375px;
  width: 375px;
  padding: 1rem;
  margin-left: 1rem;
  .title {
    font-size: 2rem;
  }
  img.product-image {
    width:100%;
  }
  .product {
    border-bottom: 1px solid #efefef;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
  .left {
    width: 40%;
    padding-right: 0.2rem;
  }
  .right {
    width: 60%;
  }

  button {
    font-size: 1.1em;
    text-transform: none;
    margin-bottom: 0.4em;
    width: 100%;
  }
  .price {
    font-size: 1.1em;
    font-weigth: normal;
  }
}


.product-show {
  background: white;
  padding: 10px;
  max-width: 520px;
  .actions {
    margin-bottom: 10px;
  }
}
