@import 'colors';

body{
  background: #EFEFEF;
}

.no-margin {
  margin: 0px;
}

.orders-container {
  display: flex;
  .orders {
    border-radius: 4px;
    margin: 8px;
    background: $white;
    padding: 10px;
    box-shadow: 1px 1px 4px $grayLight;
    width: 350px;

    >.title {
      margin: 4px 0px 10px;
      text-align: center;
      .badge {
        min-width: 2.5em;
      }
    }
  }
}


.currency {
  color: $money;
}

.order {
  border-bottom: 1px solid $grayLighter;

  .header{
    display: flex;

    .left {
      width: 60%;
      .title {
        font-size: 1.3em;
      }
      .details {
        color: $grayDark;
      }
      .transport {
        .call {
          font-weight: bold;
          font-size: 1.15em;
          display: inline-block;
          padding: 0.3em 0;
          cursor: pointer;
        }
        [class*=icon] {
          font-size: 1.3em;
        }
      }
    }
    .right {
      width: 40%;
      text-align: right;
      .currency {
        font-size: 1.3em;
        color: $money;
        font-weight: bold;
        small {
          color: $grayDark;
          font-weight: normal;
          font-size: 70%;
        }
      }
    }
  }
  .next {
    border-radius: 50%;
    font-size: 3.5em;
    cursor: pointer;
  }
  .process-next {
    color: $process;
  }
  .transport-next {
    color: $transport;
  }
}

.badge.new {
  background: $new;
  color: white;
}
.badge.process {
  background: $process;
  color: $dark;
}
.badge.transport {
  background: $transport;
  color: white;
}
