@import 'colors';

body{
  background: #EFEFEF;
}

.no-margin {
  margin: 0px;
}


.orders-container {
  display: flex;
  .orders {
    border-radius: 4px;
    margin: 8px;
    background: $white;
    padding: 10px;
    box-shadow: 1px 1px 4px $grayLight;
    min-width: 350px;

    >.title {
      margin: 4px 0px 10px;
      text-align: center;
      .badge {
        min-width: 2.5em;
      }
    }
  }
}


.currency {
  color: $money;
}

.order {
  border-bottom: 1px solid $grayLighter;
  .material-icons {
    max-width: 18px;
  }
  .alert {
    padding: 4px;
  }

  .header{
    display: flex;

    .left {
      width: 60%;
      .title {
        font-size: 1.3em;
        margin: 0px;
      }
      .order-time-ago {
        color: $grayDark;
        margin-bottom: 0.5em;
        i {
          vertical-align: middle;
          font-size: 1.2em;
        }
      }
      .details {
        color: $grayDark;
      }
      .transport {
        .call {
          font-weight: bold;
          font-size: 1.15em;
          display: inline-block;
          padding: 0.3em 0;
          cursor: pointer;
        }
        [class*=icon] {
          font-size: 1.3em;
        }
        .transport {
          border-radius: 4px;
          padding: 1px 4px;
          line-height: 1.1;
          //border: 1px solid $grayLighter;
          background: lighten($grayLighter, 15%);
          border: 1px solid darken($transport, 10%);
        }
      }
    }
    .right {
      width: 40%;
      text-align: right;
      .currency {
        font-size: 1.3em;
        color: $money;
        font-weight: bold;
        small {
          color: $grayDark;
          font-weight: normal;
          font-size: 70%;
        }
      }
    }
  }

  .next {
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    line-height: 1.15;
    position: relative;
    &.new {
      background: $new;
      color: white;
    }
    &.process,
    &.transport {
      background: $process;
      color: white;
    }
    &.transporting {
      background: $transport;
      color: white;
    }
    &.delivered {
      background: $delivered;
      color: white;
    }
    i {
      position: absolute;
      left: 0.1em;
      top: 0.07em;
      font-size: 2.2em;
    }
  }

}

.badge.new {
  background: $new;
  color: white;
}
.badge.process {
  background: $process;
  color: $white;
}
.badge.transport {
  background: $transport;
  color: white;
}
badge.delivered {
  background: $delivered;
  color: white;
}
