@import "colors";

// Product form
.product-variations {
  margin-bottom: 10px;
  .title {
    margin: 4px 0px;
    color: $grayLight;
    font-size: 1.2em;
    font-weight: bold;
  }
  .name {
    width: 60%;
  }
  .price {
    width: 25%;
  }
  .col{
    padding: 4px 0px;
    margin-right: 8px;
    &:last {
      margin-right: 0px;
    }
  }
  .header {
    font-size: 1.1em;
    margin-bottom: 4px;
  }
}
//-----------------------------
// Product index
.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  height: 100%;
  flex: 1 0 50%;
  box-sizing: border-box;
  position: relative;
  padding: 0.4em;
  max-width: 50%;
  img.img {
    width: 100%;
    height: 100%;
  }
  .header {
    top: 0px;
    margin: 0px;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
    .title{
      width: 70%;
      font-size: 1.3em;
      padding: 0.3em;
    }
    .actions {
      text-align: right;
      width: 30%;
      padding: 0.4em 0.1em;
    }
  }
  .price {
    border-radius: 4px;
    color: $white;
    background: $green;
    padding: 0.5em;
    text-align: center;
    border: 1px solid $gray;
    margin: 0.3em 0.1em;
    font-size: 1.3em;
    strong {
      font-size: 120%;
    }
  }
  .description{
    border-bottom: 1px solid $grayLighter;
    margin-bottom: 2em;
    padding: 0.2em 0em;
  }
}
