@import "colors";

html {
  height: 100%;
}

/* Space out content a bit */
body {
  background: $white;
  margin-top: 0px;
  height: 100%;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
//.header {
//  border-bottom: 1px solid #e5e5e5;
//}

/* Everything but the jumbotron gets side spacing for mobile first views */
.main-cont {
  display: flex;
  min-height: 100%;
  height: auto;

  header {
    background: $dark;
    min-height: 100%;
    height: auto;
    margin: 0px;

    .menu-links {
      margin: 0px;
      padding: 0px;
      list-style: none;

      a {
        color: $grayLighter;
        text-align: center;
        display: block;
        padding: 0.7rem 0.2em;
        border-bottom: 1px solid darken($grayLighter, 50%);
        width: 4em;

        &.logo {
          img {
            width: 70%;
          }
        }
        &:hover {
          background: lighten($dark, 10%);
          text-decoration: none;
        }
        &.active {
          color: #000;
          background: lighten($dark, 40%);
        }

        i {
          font-size: 2.2em;
        }
        .text {
          font-size: 0.7em;
          margin-top: -0.7em;
        }
      }
    }
  }

  .cont-right {
    padding: 0px 10px;
    width: 94%;
  }
}


.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Full widht container */
.product-container {
  margin: 0 auto;
  //max-width: 1200px;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.menu-links {
  form a {
    padding: 10px 15px;
    display: inline-block;
  }
}




.pointer {
  cursor: pointer;
}
