<h2><%= gettext("Create Product") %></h2>

<%= render "form.html", conn: @conn,
                        changeset: @changeset,
                        action: product_path(@conn, :create),
                        button_text: gettext("Create Product") %>
