.flex {
  display: flex;
}
.title {
  >h1,
  >h2,
  >h3 {
   margin: 0px;
  }
  margin: 0.3em 0em;
  >.actions {
    margin-left: 1em;
    .btn{
      font-size: 1.3em;
      vertical-align: middle;
    }
  }
}
