.flex {
  display: flex;
}
.title {
  >h1,
  >h2,
  >h3 {
   margin: 0px;
  }
  margin: 0.3em 0em;
  >.actions {
    margin-left: 1em;
    .btn{
      font-size: 1.3em;
      vertical-align: middle;
    }
  }
}

@for $v from 1 to 11 {
  .w#{$v * 10} {
    width: #{$v * 10 + "%"}
  }
}

.img-max-full {
  img {
    max-width: 100%;
  }
}
.ib {
  display: inline-block;
}

.rotate-180 {
  transform: rotate(180deg);
}
