@import 'colors';
$project_color: #990033;
$button_text_color: #fff;
$gray: #8a8a8a;

.tag {
  border-radius: 2px;
  border: 1px solid $grayLight;
  background: $grayLighter;
  padding: 0px 4px;
  margin: 0 3px 3px 0;
  display: inline-block;
}

// Tag component

.v-tags {
  position: relative;
  .tags {
    padding: 0.3rem;
    border: 1px solid $grayLighter;
    background: white;
    border-radius: 4px;
    list-style: none;
    margin: none;
    &.active {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .tag {
      display: inline-block;
      margin: 0 0.3rem 0.3rem;
      color: $dark;
      padding: 0 0.3rem;

      .remove {
        display: inline-block;
        padding: 0.1rem;
        cursor: pointer;
        color: lighten($dark, 20%);
      }
      &.selected {
        color: lighten($dark, 30%);
      }
    }
    .tag-input {
      color: $dark;
      border: 0px;
      padding: 0.3rem 0.5rem;
      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
  .dropdown-menu {
    position: absolute;
  }
}
