@import 'colors';

@for $v from 5 to 20 {
  .fs#{$v * 10}p {
    font-size: #{$v * 10 + "%"}
  }
}

.text-red {
  color: $red;
}

a.text-red:hover,
a.text-red:visited,
a.text-red:focus
{
  color: darken($red,10%);
}

.text-green {
  color: $green;
}
.text-green2 {
  color: $green2;
}

.text-gray {
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  i {
    vertical-align: bottom;
  }
}
